// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$light-gray: #F4F4F4;

$white: rgba(223, 236, 246, 1);
$gray: rgba(183, 194,202, 1);
$blue: rgba(82, 99, 173, 1);
$green: rgba(106, 204, 165, 1);
$mediumgreen: rgba(76, 189, 184, 1);
$purple: rgba(110, 89, 156, 1);

