// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$light-gray: #F4F4F4;

$white: rgb(223, 236, 246);
$gray: rgb(183, 194,202);
$blue: rgb(82, 99, 173);

$green: rgb(92, 195, 190);
$mediumgreen: rgb(76, 189, 184);

$purple: rgb(110, 89, 156);
$lightpurple: rgb( 123, 104, 165);

$black: rgb(40, 33, 57);

