// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;


$white: rgb(252, 255, 253);
$light-gray: rgb(218, 230, 229);
$gray: rgb(183, 202, 201);
$mediumgray: rgb(157, 171, 170);
$darkgray: rgb(105, 114, 113);

$blue: rgb(82, 99, 173);

$whitegreen: #deeaea;
$lightgreen: rgb(192, 255, 236);
$green: rgb(92, 195, 190);
$mediumgreen: rgb(76, 189, 184);
$darkgreen: rgb(60, 149, 145);

$purple: rgb(110, 89, 156);
$lightpurple: rgb(123, 104, 165);

$black: rgb(40, 33, 57);
