.decks {

.form-control:focus {
  color: $black;
  background-color: $white;
  border: 2px solid $lightgreen;
  outline: 0;
  box-shadow: none !important;
}

  .is-valid,
  .form-control {
    border: inherit;
    background-image: none;
    background-color: $white;
    padding: 5px 5px;
    width: 100%;
    border: 0px solid $lightgreen;
    margin: 0px 0px 0px 3px;
    font-family: $body-font;
    color: $black;
    font-weight: 500;
    margin-bottom: -10px;
  }

  .is-valid:focus,
  .form-control:active {
    border: 2px solid $lightgreen;
    outline: none !important;
    box-shadow: none;

  }

  #card_term {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: -10px;

  }

  label {
    display: none;
  }

  textarea {
    min-height: 100px;
    height: auto;
  }

  .change-photo {
    position: relative;
  }

  .btn-change-photo,
  .btn-change-photo-new {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
    padding: 1px 4px;
    opacity: 0.5;
    color: $black !important;
    border-radius: 5px;
    background: $white !important;
  }

  .alt-photo-container,
  .alt-photo-container-new {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }

  .alt-photo,
  .alt-photo-new {
    height: 75px;
    width: 65px;
    background-size: cover;
    ;
  }
}

.hidden {
  display: none;
}

