.decks {


  .form-control:focus {
    color: $black;
    background-color: $white;
    border-bottom: 2px solid $green;
    outline: 0;
    box-shadow: none !important;
  }

  .modal-dialog {
    max-width: 700px;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    background-color: white;
  }

  .modal-content {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    border-radius: 7px;
    background-color: transparent;
    border: none;
  }




  .is-valid,
  .form-control {
    border: inherit;
    background-image: none;
    background-color: $white;
    padding: 5px 5px;
    width: 100%;
    border-bottom: 2px solid $whitegreen;
    border-radius: 1px;
    border-width: 10%;
    margin: 0px 0px 0px 3px;
    font-family: $body-font;
    color: $black;
    font-weight: 500;
    margin-bottom: -25px;
  }

  .is-valid:focus,
  .form-control:active {
    border-bottom: 2px solid $green;
    outline: none !important;
    box-shadow: none;

  }

  #card_term {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: -10px;

  }

  label {
    display: none;
  }

  textarea {
    margin-top: 10px;
    min-height: 80px;
  }

  .change-photo {
    position: relative;
  }

  .btn-change-photo,
  .btn-change-photo-new {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
    padding: 1px 4px;
    opacity: 0.5;
    color: $black !important;
    border-radius: 5px;
    background: $white !important;
  }

  .alt-photo-container,
  .alt-photo-container-new {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }

  .alt-photo,
  .alt-photo-new {
    height: 75px;
    width: 65px;
    background-size: cover;
    ;
  }
}

.hidden {
  display: none;
}


.brf {
  position: sticky;
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin: 10px;

  .btn {
    background-color: white;
    margin: 10px;
  }
}

.opt-hidden {
  bottom: 23px;
  right: 8px;
  z-index: 0;
  font-size: 15px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.opt-visible {
  bottom: 110px;
  cursor: pointer;
  left: 95vw;
}



.btn-add:hover {
  opacity: 1;
  position: sticky;
  bottom: 25px;
  right: 10px;
  width: 70px;
  left: 95vw;
  height: 70px;
  background-color: #00b818;
  padding: 0px 10px;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}


.inv {
  height: 0px;
  margin: 0px;
  width: 0px;
  height: 0px;
  margin: 0px;
  width: 0px;
  padding: 0px;
  position: absolute;
}


.editable {
  color: black;
  min-height: 300px;
  max-height: 70vh;
  overflow-y: scroll;
}

.input-deck {
  color: black;
  min-height: 70px;
  max-height: 50vh;
  overflow-y: scroll;
}

.view-data {}

.view-data-tree {
  padding: 10% 20%;
}

.choice-data {
  position: absolute;
  top: 40px;
  right: 40px;
}

.word {
  display: inline-block;
  color: grey;
}

.word:hover {
  color: purple;
  font-weight: bold;
}

.modal-after {}
