.learn {
  font-family: 'Alata',
  sans-serif;
  overflow: hidden;

  .card-learn-container{
    display: flex;
    justify-content: space-around;
  }

  .center-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

   .card-learn{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 604px;
    width: 60vw;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    text-align: center;
    position: relative;
    padding: 0px 16px;
    margin-right:100px;
    opacity: 1;
  }

  .card-learn-header{
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 2px;
    left: 6px;
    width: 96%;
  }




  .close{
    color: $purple;
    padding: 10px;
    font-size: 2em;

    &::before{
      display:none;
    }
  }



  .flip-card:hover .flip-card-inner {
    transform: rotateY(45deg);
  }

  .hidden {
    display: none;
  }

.plant-progress{
  width:40vh;
  height:100vh;
  background-color: white;
  position: relative;

  #growing{
    position: absolute;
    bottom:0px;
    left: 85px;
    opacity:0;
    transition: all 1s ease;
    width: 19vh;
    transform: scaleY(0.5) scaleX(2.5);
    transform-origin: bottom center;

  }
  svg {
    width:100%;
  }
  .active{
    opacity:1 !important;
    transform: scaleY(2.1) scaleX(2.1)!important;
    transition: all 1s ease;
  }
}
  .progress {
    display: flex;
    flex-grow: 1;
    margin-left: 20px;
    height: 12px;
    background-color: #F4F4F4;
    border-radius: 16px;

    .bg-success{
      height: 30px;
      background-color: $green !important;

    }

    .bg-danger{
      background-color: $purple !important;
      height: 30px;

    }
  }

  .answer {
    background-color: white;
    height: 500px;
    width: 280px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: whitesmoke;
  }

  .center {
    margin: 10px auto;
  }

  .compteur {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 48px;
    font-weight: 900;
    color: $light-gray;
  }

  .score {
    background-color: $mediumgreen;
    padding: 15px 20px;
    margin: 20px auto;
    border-radius: 20px;
    font-size: 40px;
    font-weight: 900;
    color: $white;
  }

  .result {
    background-color: $white;
    display: flex;
    justify-content: space-around;
    align-items:center;
    position:absolute;
    bottom: -30vh;
    left: 40vh;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
    height: 604px;
    width: 60vw;
    padding: 0px 16px;
    margin-right:100px;
    opacity: 1;

    .content {
      display:flex;
      justify-content: space-around;
      align-items:center;
      flex-direction: column;
      padding: 10px;
    }
    .congrat {
      color: white;
      font-size: 2rem;
      text-align:center;
      text-transform: uppercase;
      background-color: $purple;
      padding: 10px;
      margin-bottom: 20px;
      transform: rotate(-2deg);
      width: 80%;
      box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
    }

    .debrief{
      font-family: $body-font;
      font-size: 1.3rem;
      color: $black;
      text-align: center;
      padding:30px;
    }

    strong {
      background-color:$purple;
      color:white;
      padding:0.2rem 0.4rem;
      border-radius:10px;
      transform: rotate(-1deg);
    }
.all-cards{
display:flex;
align-items: center;
justify-content: center;
}
    .known-card {
color:$green;
display:flex;
align-items: center;
justify-content:space-around;
    }
    .unknown-card {
color:$purple;
display:flex;
align-items: center;
justify-content:space-between;
    }
    .good{
    background-color:$mediumgreen;
    margin-left: 10px;
    }
    .bad{
    background-color:$purple;
    margin-left: 10px;
    }
  }

  #nb_card {
    color: blue;
  }


  .buttons{
     display:flex;
    justify-content: space-around;
    align-items:center;
  }

  .answer-container {

    margin: 50px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    padding: 10px;

    .btn {
      width: 100%;
      max-height: 80px;
    }
  }
}

.slide-out{
  transform: translateY(56vw);
  opacity : 0!important;
  transition: all 1s ease;
}

.slide-in{
  transform: translateY(-30vw);
  opacity : 1!important;
  transition:all 1s ease;
}
