<div class="container1">

  <div class="dash_bar">
   <div class="wrap <%= action_name %>">
     <div class="search_bar">
      <input type="text" class="search_field" placeholder="search...">
      <button type="submit" class="search_button">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <div class="dash_profil">
   <img class="avatar-large" src="https://images.unsplash.com/photo-1546538994-4f15d0aa966f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
   <h4>user.name</h4>
   <a href="#profil">modify</a>
 </div>


 <hr>
 <h3>Liste des thèmes</h3>
 <div class="dash_list_theme">
  <% @themes.each do |item| %>
  <a href="/themes/<%=item.id%>">
    <div class="list_element">
      <div class="vitality-count"></div>
      <p> <%= item.name %></p>
    </div>
  </a>

  <%end%>
</div>
</div>

<div class="dash_garden">
  <!--  <div class="foreground"></div> -->
<div class="return_dash hidden"></div>
  <div class="plant_container">
     <div class="first_row">
      <div class="plant">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="138.78px" height="195.248px" viewBox="0 0 138.78 195.248" enable-background="new 0 0 138.78 195.248"
   xml:space="preserve">
<g id="Layer_1">
  <g>
    <ellipse fill="#8372C1" cx="80.5" cy="185.982" rx="36" ry="9.266"/>
    <g>
      <path fill="#6ACCA5" d="M138.78,50.143c0-12.387-10.042-22.43-22.429-22.43c-2.398,0-4.703,0.386-6.867,1.082
        c-3.044-3.955-7.369-6.858-12.363-8.097C96.234,9.124,86.582,0,74.78,0c-12.39,0-22.432,10.042-22.432,22.429
        c0,3.601,0.87,6.991,2.38,10.009c-0.884,1.764-1.555,3.649-1.945,5.641c-1.48-1.326-3.131-2.455-4.924-3.354
        c-0.804-11.654-10.49-20.866-22.349-20.866c-12.39,0-22.432,10.042-22.432,22.429c0,3.209,0.687,6.255,1.901,9.02
        C1.871,49.154,0,54.046,0,59.381c0,12.388,10.043,22.43,22.43,22.43c5.17,0,9.916-1.767,13.709-4.704
        c0.559,0.042,1.119,0.087,1.689,0.087c10.891,0,19.963-7.768,21.997-18.065c3.97,3.562,9.2,5.748,14.955,5.748
        c0.757,0,1.505-0.04,2.241-0.114c-0.007,0.261-0.038,0.514-0.038,0.779c0,12.387,10.042,22.43,22.432,22.43
        c0.017,0,0.03-0.004,0.048-0.004c4.11,4.713,10.146,7.701,16.889,7.701c12.387,0,22.429-10.041,22.429-22.43
        c0-4.231-1.192-8.172-3.229-11.549C137.588,58.314,138.78,54.372,138.78,50.143z"/>
      <g>
        <g>
          <g>
            <path fill="#53477F" d="M27.367,31.999c0,0-0.125,1.713-0.192,4.743c-0.058,3.023-0.066,7.347,0.274,12.497
              c0.136,2.576,0.419,5.354,0.77,8.273c0.419,2.911,0.828,5.979,1.523,9.091c0.614,3.128,1.544,6.275,2.517,9.437
              c0.577,1.546,1.042,3.152,1.729,4.665l0.962,2.301l1.105,2.227l0.55,1.112l0.621,1.067l1.243,2.123
              c0.458,0.674,0.914,1.346,1.369,2.016c0.454,0.669,0.891,1.349,1.418,1.949c0.503,0.62,1.003,1.238,1.501,1.852
              c0.487,0.625,1.082,1.14,1.61,1.71c0.556,0.542,1.05,1.146,1.643,1.629c0.584,0.493,1.163,0.981,1.738,1.467l0.856,0.725
              l0.919,0.625c0.607,0.417,1.208,0.829,1.803,1.237c0.572,0.443,1.248,0.71,1.854,1.067c0.616,0.343,1.225,0.681,1.825,1.015
              c1.238,0.599,2.496,1.078,3.68,1.605c1.207,0.479,2.442,0.781,3.588,1.164c1.136,0.415,2.311,0.563,3.392,0.808
              c1.095,0.197,2.104,0.503,3.109,0.562c0.992,0.109,1.921,0.211,2.78,0.305c0.857,0.104,1.646,0.191,2.373,0.18
              c0.723,0.016,1.368,0.029,1.93,0.042c0.561,0.017,1.032,0.331,1.422,0.769c0.194,0.198,0.368,0.498,0.52,0.695
              c0.151,0.276,0.28,0.468,0.385,0.705c0.21,0.414,0.323,0.771,0.322,0.746c0.365-0.005,0.664,0.287,0.669,0.651
              c0.005,0.365-0.287,0.665-0.651,0.669c-0.001-0.025-0.105,0.326-0.316,0.729c-0.105,0.231-0.238,0.415-0.397,0.684
              c-0.16,0.188-0.347,0.478-0.56,0.664c-0.426,0.415-0.959,0.701-1.581,0.686c-0.62-0.021-1.334-0.044-2.134-0.07
              c-0.798,0.001-1.684-0.102-2.648-0.226c-0.964-0.115-2.006-0.241-3.12-0.375c-1.117-0.085-2.286-0.43-3.527-0.67
              c-1.235-0.289-2.554-0.484-3.876-0.967c-1.326-0.448-2.736-0.823-4.139-1.392c-1.384-0.619-2.841-1.203-4.283-1.922
              c-1.396-0.813-2.878-1.574-4.272-2.539c-0.686-0.5-1.379-1.005-2.079-1.515l-1.051-0.771l-0.982-0.873
              c-0.654-0.587-1.313-1.18-1.978-1.776c-0.67-0.59-1.23-1.295-1.854-1.945c-0.594-0.676-1.257-1.305-1.799-2.033
              c-0.55-0.72-1.104-1.444-1.658-2.171c-0.579-0.712-1.056-1.491-1.548-2.264c-0.487-0.774-1.001-1.538-1.457-2.333
              l-1.274-2.436l-0.629-1.222l-0.549-1.254l-1.092-2.507l-0.927-2.553c-0.661-1.685-1.082-3.427-1.616-5.119
              c-0.892-3.429-1.586-6.836-2.025-10.148c-0.488-3.307-0.752-6.517-0.905-9.558c-0.102-3.043-0.144-5.913-0.056-8.558
              c0.047-2.645,0.256-5.061,0.425-7.195c0.195-2.136,0.407-3.99,0.634-5.513c0.428-3.039,0.811-4.771,0.811-4.771l0.002-0.005
              c0.078-0.357,0.432-0.583,0.789-0.504C27.175,31.377,27.391,31.676,27.367,31.999z"/>
          </g>
          <g>
            <path fill="#53477F" d="M104.689,63.488c0,0,0.676,3.279,0.73,8.317c0.014,2.515-0.091,5.473-0.591,8.63
              c-0.227,1.582-0.553,3.216-0.979,4.863c-0.462,1.639-0.979,3.307-1.671,4.934c-0.646,1.643-1.492,3.231-2.429,4.746
              c-0.989,1.486-2.051,2.924-3.278,4.17c-0.307,0.313-0.609,0.623-0.91,0.93c-0.317,0.291-0.648,0.564-0.97,0.842
              c-0.327,0.271-0.636,0.559-0.972,0.804c-0.343,0.237-0.682,0.472-1.016,0.703c-0.658,0.483-1.357,0.854-2.032,1.221
              c-0.664,0.392-1.341,0.687-1.998,0.956c-1.294,0.611-2.559,0.896-3.654,1.244c-1.112,0.222-2.087,0.451-2.89,0.561
              c-0.401,0.044-0.76,0.084-1.072,0.118c-0.309,0.079-0.59-0.067-0.824-0.401c-0.23-0.26-0.417-0.747-0.539-1.088
              c-0.12-0.293-0.188-0.609-0.186-0.586c-0.717,0.031-1.321-0.524-1.352-1.24c-0.031-0.717,0.524-1.321,1.24-1.352
              c0.002,0.023,0.037-0.302,0.115-0.612c0.076-0.357,0.184-0.87,0.336-1.163c0.148-0.368,0.34-0.555,0.588-0.524
              c0.244-0.014,0.524-0.029,0.839-0.048c0.624-0.053,1.356-0.201,2.216-0.315c0.817-0.229,1.783-0.392,2.748-0.78
              c0.496-0.164,1.012-0.342,1.508-0.602c0.509-0.236,1.046-0.466,1.546-0.795c0.517-0.301,1.055-0.604,1.558-0.994
              c0.258-0.185,0.52-0.371,0.784-0.56c0.248-0.213,0.498-0.429,0.75-0.646c1.023-0.858,1.956-1.918,2.867-3.043
              c0.849-1.178,1.727-2.395,2.451-3.74c0.764-1.318,1.396-2.734,1.989-4.149c0.552-1.433,1.116-2.856,1.534-4.287
              c0.457-1.419,0.787-2.829,1.133-4.168c0.316-1.345,0.596-2.63,0.802-3.827c0.451-2.392,0.708-4.419,0.879-5.842
              c0.161-1.428,0.224-2.244,0.223-2.244c0.012-0.146,0.139-0.255,0.285-0.244C104.569,63.285,104.666,63.375,104.689,63.488z"/>
          </g>
          <g>
            <path fill="#53477F" d="M77.401,23.01c0,0,0.09,0.629,0.257,1.809c0.156,1.181,0.383,2.911,0.607,5.114
              c0.248,2.202,0.479,4.878,0.732,7.946c0.111,1.535,0.23,3.168,0.355,4.89c0.097,1.722,0.197,3.531,0.304,5.42
              c0.198,3.778,0.338,7.871,0.466,12.201c0.113,4.329,0.232,8.895,0.355,13.618c0.266,9.446,0.489,19.522,0.693,29.599
              c0.11,5.038,0.219,10.077,0.275,15.036c0.07,4.96,0.139,9.841,0.206,14.564s0.132,9.29,0.193,13.619
              c0.076,4.33,0.091,8.424,0.107,12.203c0.034,7.559,0.062,13.857,0.082,18.266c-0.014,4.409-0.021,6.929-0.021,6.929
              c-0.006,1.934-1.578,3.495-3.511,3.489c-1.908-0.006-3.456-1.541-3.489-3.44c0,0-0.042-2.52-0.117-6.928
              c-0.041-4.409-0.1-10.707-0.171-18.265c-0.035-3.779-0.077-7.873-0.061-12.204c0.002-4.33,0.004-8.896,0.006-13.62
              c0.001-4.725,0.003-9.605,0.005-14.566c-0.012-4.96,0.026-9.999,0.067-15.038c0.064-10.079,0.149-20.157,0.284-29.606
              c0.059-4.724,0.114-9.291,0.168-13.621c0.067-4.331,0.151-8.426,0.297-12.206c0.08-1.891,0.156-3.702,0.229-5.425
              c0.101-1.723,0.197-3.357,0.287-4.893c0.211-3.072,0.405-5.751,0.623-7.957c0.193-2.205,0.396-3.939,0.536-5.121
              C77.32,23.641,77.401,23.01,77.401,23.01z"/>
          </g>
          <g>
            <path fill="#53477F" d="M116.367,51.909c0,0,0.4,1.812,0.641,4.613c0.117,1.401,0.191,3.05,0.135,4.841
              c-0.039,0.895-0.096,1.826-0.218,2.776c-0.105,0.952-0.293,1.921-0.52,2.896c-0.245,0.973-0.542,1.952-0.95,2.902
              c-0.381,0.959-0.905,1.876-1.482,2.743c-0.296,0.43-0.632,0.835-0.958,1.233c-0.364,0.369-0.701,0.761-1.09,1.085
              c-0.761,0.668-1.574,1.223-2.372,1.646c-0.402,0.196-0.791,0.41-1.172,0.558c-0.387,0.139-0.754,0.271-1.098,0.396
              c-0.694,0.209-1.312,0.34-1.82,0.449c-1.012,0.134-1.591,0.211-1.591,0.211l0.082-7c0,0,0.341,0.042,0.937,0.114
              c0.288,0.006,0.646,0.025,1.049,0.016c0.197-0.018,0.408-0.035,0.631-0.055c0.224-0.021,0.438-0.089,0.683-0.129
              c0.474-0.108,0.975-0.284,1.495-0.543c0.267-0.117,0.509-0.305,0.787-0.458c0.252-0.194,0.524-0.386,0.784-0.614
              c0.509-0.469,1.039-1.002,1.496-1.65c0.479-0.629,0.903-1.349,1.301-2.099c1.569-3.042,2.387-6.654,2.799-9.354
              C116.33,53.77,116.367,51.909,116.367,51.909z"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</g>
<g id="ref" display="none">
</g>
</svg>

      </div>
    <div class="plant">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="150.301px" height="217.663px" viewBox="0 0 150.301 217.663" enable-background="new 0 0 150.301 217.663"
   xml:space="preserve">
<g id="Layer_1">
  <g>
    <path fill="#F7931E" d="M150.301,71.445c0-15.585-12.771-28.219-28.524-28.219c-5.726,0-11.053,1.675-15.521,4.547
      c-0.58-0.784-1.212-1.527-1.911-2.208c3.129-4.648,4.956-10.229,4.956-16.233C109.301,13.132,96.026,0,79.65,0
      C64.035,0,51.249,11.943,50.095,27.099C44.774,22.084,37.579,19,29.65,19C13.274,19,0,32.132,0,48.332
      C0,60.984,8.099,71.766,19.448,75.88c-0.029,0.481-0.049,0.965-0.049,1.452c0,9.245,5.29,17.264,13.036,21.27
      c-0.989,2.04-1.56,4.316-1.56,6.73c0,8.618,7.063,15.604,15.774,15.604c7.821,0,14.295-5.637,15.541-13.023
      c0.153,0.005,0.304,0.023,0.459,0.023c8.712,0,15.774-6.986,15.774-15.604c0-6.797-4.4-12.563-10.531-14.704
      c0.002-0.099,0.008-0.196,0.008-0.296c0-1.422-0.132-2.812-0.372-4.165c3.409-1.097,6.309-3.307,8.257-6.201
      c3.082,5.53,9.029,9.279,15.864,9.279c0.677,0,1.342-0.043,1.999-0.115c0.455,2.688,1.287,5.249,2.453,7.623
      c-3.202,2.856-5.227,6.979-5.227,11.579c0,8.618,7.063,15.604,15.774,15.604c2.808,0,5.438-0.733,7.722-2.005
      c2.515,5.314,7.954,9.005,14.278,9.005c8.712,0,15.774-6.986,15.774-15.604c0-3.759-1.345-7.208-3.584-9.901
      C146.647,87.265,150.301,79.778,150.301,71.445z"/>
    <ellipse fill="#8372C1" cx="83.968" cy="208.397" rx="36" ry="9.266"/>
    <g>
      <g>
        <path fill="#53477F" d="M47.94,67.325c0,0-0.1,1.23-0.138,3.41C47.77,72.91,47.758,76.018,48,79.722
          c0.096,1.853,0.294,3.851,0.543,5.951c0.291,2.095,0.585,4.302,1.07,6.542c0.428,2.254,1.092,4.52,1.768,6.802
          c0.771,2.247,1.579,4.523,2.678,6.638c0.488,1.091,1.131,2.087,1.707,3.114c0.639,0.982,1.263,1.972,1.96,2.886
          c0.726,0.891,1.396,1.817,2.206,2.591c0.392,0.398,0.763,0.814,1.16,1.193c0.417,0.357,0.832,0.712,1.243,1.063
          c0.785,0.748,1.714,1.279,2.548,1.892c0.411,0.318,0.874,0.545,1.317,0.791c0.44,0.249,0.877,0.494,1.307,0.736
          c0.871,0.465,1.784,0.793,2.629,1.182c0.854,0.373,1.748,0.575,2.566,0.859c0.815,0.301,1.652,0.43,2.431,0.598
          c0.787,0.141,1.509,0.371,2.229,0.416c1.431,0.131,2.658,0.356,3.7,0.356c0.519,0.012,0.982,0.022,1.386,0.031
          c0.402,0.015,0.74,0.239,1.021,0.55c0.14,0.142,0.265,0.355,0.373,0.496c0.108,0.198,0.201,0.334,0.276,0.504
          c0.151,0.296,0.232,0.551,0.232,0.533l0.012,0.943c0-0.018-0.075,0.232-0.227,0.52c-0.076,0.166-0.172,0.297-0.286,0.488
          c-0.115,0.135-0.249,0.342-0.402,0.475c-0.307,0.294-0.69,0.498-1.138,0.489c-0.447-0.015-0.96-0.032-1.535-0.052
          c-1.149-0.017-2.549-0.271-4.15-0.441c-0.804-0.065-1.644-0.325-2.536-0.496c-0.89-0.202-1.834-0.367-2.784-0.717
          c-0.951-0.333-1.971-0.588-2.969-1.028c-0.99-0.458-2.046-0.862-3.066-1.416c-2.039-1.112-4.099-2.475-5.977-4.171
          c-0.467-0.426-0.938-0.855-1.412-1.288c-0.45-0.454-0.869-0.944-1.308-1.421c-0.907-0.932-1.651-2.005-2.445-3.051
          c-0.415-0.512-0.723-1.094-1.085-1.643c-0.34-0.563-0.725-1.104-1.021-1.69c-0.592-1.174-1.245-2.324-1.727-3.544
          c-1.092-2.389-1.847-4.883-2.551-7.33c-0.616-2.468-1.11-4.916-1.412-7.297c-0.682-4.758-0.762-9.221-0.66-13.019
          c0.037-1.9,0.186-3.637,0.307-5.171c0.14-1.535,0.291-2.868,0.455-3.962c0.313-2.184,0.574-3.431,0.574-3.431L47.94,67.325z"/>
      </g>
      <g>
        <path fill="#53477F" d="M19.626,45.866c0,0,0.009,3.578,0.775,8.85c0.389,2.631,0.945,5.686,1.829,8.866
          c0.448,1.588,0.94,3.218,1.558,4.823c0.594,1.615,1.302,3.206,2.083,4.746c0.417,0.754,0.796,1.53,1.265,2.243l0.672,1.082
          l0.73,1.025c0.462,0.699,1.027,1.3,1.531,1.933c0.538,0.603,1.1,1.166,1.652,1.711c1.158,1.032,2.326,1.955,3.54,2.641
          c0.604,0.348,1.181,0.695,1.792,0.93c0.596,0.262,1.158,0.536,1.745,0.689c1.13,0.415,2.225,0.705,3.177,0.902
          c0.975,0.123,1.826,0.355,2.527,0.355c1.418,0,2.465,0,2.465,0v4.793c0,0-1.087-0.085-2.78-0.233
          c-0.844-0.132-1.929-0.318-3.087-0.577c-1.15-0.337-2.478-0.691-3.818-1.314c-0.688-0.257-1.367-0.645-2.06-1.025
          c-0.707-0.355-1.38-0.83-2.063-1.311c-1.373-0.951-2.658-2.156-3.879-3.462c-0.58-0.678-1.162-1.375-1.705-2.104
          c-0.506-0.756-1.071-1.485-1.512-2.293l-0.699-1.192l-0.625-1.233c-0.436-0.814-0.77-1.675-1.141-2.516
          c-0.685-1.705-1.277-3.435-1.744-5.161c-0.493-1.721-0.852-3.438-1.166-5.1c-0.617-3.327-0.906-6.46-1.064-9.14
          C19.32,49.427,19.626,45.866,19.626,45.866z"/>
      </g>
      <g>
        <path fill="#53477F" d="M119.194,81.065c0,0,0.146,1.128,0.282,3.105c0.074,0.989,0.126,2.193,0.156,3.576
          c0.016,1.382,0.042,2.946-0.03,4.65c-0.123,3.408-0.426,7.399-1.214,11.631c-0.362,2.12-0.874,4.295-1.489,6.485
          c-0.652,2.181-1.394,4.386-2.34,6.526c-0.889,2.162-2.039,4.23-3.277,6.207c-0.653,0.967-1.32,1.923-2.027,2.832
          c-0.759,0.87-1.431,1.8-2.26,2.573c-0.399,0.4-0.795,0.798-1.188,1.19c-0.393,0.394-0.839,0.725-1.251,1.083
          c-0.422,0.349-0.839,0.694-1.251,1.035c-0.443,0.302-0.881,0.599-1.313,0.893c-0.438,0.285-0.853,0.596-1.294,0.847
          c-0.447,0.241-0.889,0.479-1.321,0.713c-0.436,0.23-0.858,0.47-1.284,0.68c-0.438,0.182-0.868,0.361-1.289,0.537
          c-1.666,0.77-3.295,1.146-4.707,1.594c-1.442,0.281-2.702,0.568-3.744,0.711c-0.522,0.055-0.989,0.103-1.396,0.145
          c-0.403,0.078-0.761-0.026-1.054-0.235c-0.293-0.201-0.521-0.511-0.674-0.739c-0.153-0.24-0.234-0.442-0.233-0.431l-0.08-1.852
          c0.001,0.012,0.061-0.203,0.179-0.466c0.119-0.254,0.294-0.599,0.527-0.846c0.232-0.256,0.523-0.417,0.882-0.406
          c0.356-0.025,0.767-0.055,1.226-0.087c0.911-0.098,1.995-0.322,3.255-0.519c1.209-0.359,2.628-0.627,4.054-1.246
          c0.363-0.139,0.733-0.278,1.111-0.422c0.366-0.168,0.729-0.363,1.104-0.547c0.374-0.188,0.754-0.377,1.141-0.57
          c0.383-0.2,0.739-0.459,1.119-0.69c0.378-0.236,0.761-0.476,1.148-0.719c0.365-0.276,0.734-0.557,1.108-0.84
          c0.366-0.292,0.767-0.553,1.121-0.879s0.714-0.655,1.075-0.986c0.755-0.631,1.376-1.432,2.084-2.162
          c0.662-0.775,1.295-1.601,1.922-2.439c0.573-0.882,1.215-1.729,1.734-2.669l0.824-1.387l0.747-1.44
          c1.001-1.924,1.826-3.951,2.574-5.976c0.706-2.04,1.39-4.068,1.891-6.083c0.544-2.003,0.939-3.977,1.319-5.853
          c0.349-1.88,0.648-3.67,0.856-5.333c0.455-3.323,0.662-6.122,0.783-8.083c0.118-1.965,0.118-3.086,0.118-3.086L119.194,81.065z"
          />
      </g>
      <g>
        <path fill="#53477F" d="M37.064,31.729c0,0,0.347,2.381,0.424,5.994c0.034,1.807-0.005,3.92-0.214,6.184
          c-0.105,1.131-0.258,2.299-0.47,3.481c-0.219,1.181-0.478,2.38-0.841,3.559c-0.347,1.184-0.791,2.348-1.322,3.463
          c-0.543,1.109-1.163,2.179-1.913,3.127c-0.343,0.497-0.789,0.906-1.173,1.35c-0.43,0.4-0.858,0.794-1.303,1.144
          c-0.91,0.678-1.853,1.221-2.772,1.607c-0.466,0.171-0.909,0.366-1.345,0.491c-0.439,0.108-0.857,0.213-1.249,0.31
          c-0.789,0.15-1.487,0.217-2.06,0.279c-1.142,0.021-1.795,0.034-1.795,0.034l0.201-3.01c0,0,0.545,0.031,1.499,0.086
          c0.47-0.021,1.048-0.029,1.698-0.101c0.322-0.054,0.665-0.111,1.026-0.172c0.358-0.073,0.716-0.207,1.104-0.312
          c0.759-0.252,1.543-0.629,2.328-1.122c0.384-0.258,0.76-0.557,1.146-0.86c0.346-0.354,0.754-0.66,1.079-1.07
          c0.707-0.763,1.33-1.669,1.898-2.638c0.559-0.976,1.054-2.022,1.464-3.112c0.427-1.083,0.761-2.21,1.058-3.33
          c0.289-1.122,0.523-2.244,0.709-3.34c0.371-2.192,0.566-4.271,0.668-6.058c0.193-3.577,0.028-5.973,0.028-5.973L37.064,31.729z"
          />
      </g>
      <g>
        <path fill="#53477F" d="M83.563,21.775c0,0,0.147,2.898,0.405,7.972c0.136,2.536,0.233,5.616,0.375,9.149
          c0.146,3.533,0.286,7.519,0.395,11.867c0.117,4.349,0.245,9.06,0.379,14.042c0.108,4.983,0.223,10.238,0.341,15.674
          c0.236,10.871,0.488,22.468,0.74,34.064c0.439,23.192,0.877,46.386,1.207,63.78c0.271,17.396,0.451,28.992,0.451,28.992
          c0.03,1.933-1.457,3.524-3.39,3.554c-1.933,0.03-3.499-1.512-3.499-3.445c0-0.021,0-0.059,0-0.079
          c0,0,0.026-11.598,0.148-28.994c0.181-17.397,0.393-40.593,0.633-63.789c0.152-11.598,0.292-23.196,0.436-34.069
          c0.071-5.437,0.134-10.691,0.199-15.676c0.093-4.983,0.176-9.695,0.256-14.045c0.07-4.349,0.177-8.336,0.292-11.87
          c0.11-3.534,0.182-6.615,0.295-9.152C83.441,24.675,83.563,21.775,83.563,21.775z"/>
      </g>
      <g>
        <path fill="#53477F" d="M84.878,50.603c0,0,0.062,0.021,0.176,0.062c0.129,0.042,0.342,0.1,0.616,0.169
          c0.553,0.13,1.374,0.298,2.369,0.375c1.976,0.174,4.714-0.061,6.851-1.623c0.547-0.369,1.01-0.85,1.459-1.347
          c0.211-0.259,0.409-0.529,0.606-0.8c0.17-0.287,0.359-0.564,0.515-0.856c0.145-0.299,0.301-0.589,0.432-0.885
          c0.12-0.304,0.237-0.601,0.352-0.89c0.184-0.597,0.381-1.166,0.484-1.712c0.135-0.541,0.226-1.046,0.285-1.499
          c0.075-0.451,0.127-0.849,0.148-1.177c0.059-0.66,0.093-1.037,0.093-1.037l0.107-0.004c0,0,0.043,0.378,0.118,1.04
          c0.045,0.333,0.075,0.737,0.092,1.205c0.033,0.469,0.046,0.999,0.022,1.581c0.007,0.584-0.075,1.215-0.142,1.891
          c-0.06,0.337-0.12,0.683-0.182,1.036c-0.077,0.352-0.182,0.708-0.277,1.076c-0.108,0.365-0.256,0.727-0.389,1.102
          c-0.162,0.362-0.332,0.732-0.523,1.098c-0.412,0.712-0.878,1.438-1.476,2.061c-1.152,1.295-2.678,2.249-4.172,2.873
          c-1.504,0.626-2.984,0.939-4.252,1.1c-1.271,0.162-2.338,0.168-3.097,0.147c-0.383-0.015-0.684-0.033-0.902-0.055
          c-0.233-0.026-0.357-0.04-0.357-0.04L84.878,50.603z"/>
      </g>
      <g>
        <path fill="#53477F" d="M67.047,12.988c0,0-0.126,0.625-0.277,1.731c-0.15,1.104-0.326,2.688-0.395,4.59
          c-0.065,1.898-0.05,4.117,0.255,6.439c0.132,1.163,0.377,2.341,0.661,3.514c0.329,1.159,0.685,2.326,1.208,3.397
          c0.225,0.555,0.548,1.051,0.818,1.567c0.333,0.476,0.615,0.981,0.99,1.404l0.534,0.646c0.188,0.202,0.394,0.386,0.585,0.577
          c0.367,0.401,0.82,0.693,1.221,1.022c0.42,0.306,0.876,0.546,1.293,0.811c0.463,0.201,0.893,0.425,1.335,0.599
          c0.454,0.148,0.896,0.291,1.324,0.431c0.444,0.095,0.873,0.188,1.285,0.276c0.412,0.081,0.831,0.1,1.213,0.152
          c0.384,0.05,0.749,0.089,1.105,0.081c0.708-0.001,1.306,0.06,1.824,0c1.019-0.064,1.602-0.101,1.602-0.101l0.186,4.996
          c0,0-0.694-0.038-1.911-0.106c-0.602-0.009-1.353-0.158-2.196-0.266c-0.423-0.046-0.874-0.146-1.348-0.264
          c-0.474-0.121-0.972-0.211-1.483-0.376c-0.51-0.176-1.039-0.359-1.588-0.55c-0.537-0.229-1.084-0.5-1.643-0.763
          c-0.549-0.295-1.088-0.654-1.643-0.993c-0.517-0.407-1.063-0.798-1.559-1.26c-0.478-0.485-0.996-0.94-1.409-1.5
          c-0.214-0.271-0.44-0.536-0.644-0.817l-0.567-0.876c-0.39-0.577-0.666-1.22-0.985-1.834c-0.252-0.643-0.55-1.271-0.732-1.929
          c-0.447-1.296-0.686-2.627-0.889-3.922c-0.157-1.302-0.264-2.578-0.257-3.809c-0.028-2.461,0.229-4.723,0.524-6.636
          c0.607-3.83,1.433-6.268,1.433-6.268L67.047,12.988z"/>
      </g>
      <g>
        <path fill="#53477F" d="M135.224,65.094c0,0,0.401,2.502,0.521,6.32c0.056,1.907,0.036,4.144-0.163,6.545
          c-0.109,1.2-0.25,2.442-0.472,3.701c-0.206,1.261-0.501,2.535-0.86,3.803c-0.369,1.266-0.814,2.524-1.381,3.729
          c-0.547,1.212-1.23,2.362-1.999,3.424c-0.372,0.538-0.826,1.014-1.231,1.509c-0.464,0.445-0.9,0.908-1.379,1.303
          c-0.959,0.792-1.965,1.442-2.95,1.934c-0.5,0.224-0.978,0.465-1.447,0.64c-0.477,0.153-0.93,0.3-1.354,0.438
          c-0.857,0.233-1.622,0.357-2.25,0.477c-1.256,0.117-1.974,0.185-1.974,0.185l0.059-5c0,0,0.544,0.019,1.495,0.049
          c0.464-0.036,1.04-0.052,1.684-0.14c0.318-0.06,0.657-0.123,1.015-0.189c0.353-0.082,0.706-0.217,1.091-0.326
          c0.751-0.262,1.533-0.638,2.322-1.133c0.394-0.247,0.763-0.562,1.168-0.852c0.356-0.351,0.764-0.668,1.115-1.066
          c0.723-0.775,1.419-1.658,2.021-2.65c0.621-0.979,1.16-2.054,1.641-3.165c0.471-1.116,0.895-2.266,1.235-3.43
          c0.356-1.159,0.639-2.328,0.887-3.468c0.479-2.284,0.77-4.464,0.947-6.34C135.313,67.631,135.224,65.094,135.224,65.094z"/>
      </g>
    </g>
  </g>
</g>
<g id="ref" display="none">
</g>
</svg>
    </div>

    <div class="plant">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="157.757px" height="233.417px" viewBox="0 0 157.757 233.417" enable-background="new 0 0 157.757 233.417"
   xml:space="preserve">
<g id="Layer_1">
  <g>
    <ellipse fill="#8372C1" cx="84.263" cy="224.151" rx="36" ry="9.266"/>
    <g>
      <path fill="#6ACCA5" d="M157.757,68.453c0-19.382-15.714-35.094-35.094-35.094c-2.758,0-5.438,0.329-8.016,0.93
        C114.219,15.281,98.685,0,79.574,0C61.038,0,45.868,14.371,44.577,32.579c-4.546-3.016-9.99-4.779-15.852-4.779
        C12.86,27.8,0,40.661,0,56.524c0,10.541,5.694,19.729,14.155,24.727c-1.926,3.859-3.036,8.195-3.036,12.801
        c0,12.235,7.663,22.657,18.44,26.797c-1.129,2.616-1.762,5.5-1.762,8.533c0,11.898,9.644,21.544,21.544,21.544
        c0.134,0,0.262-0.019,0.396-0.021c5.155,12.97,17.811,22.144,32.618,22.144c16.909,0,31.023-11.964,34.35-27.89
        c18.269-1.226,32.713-16.422,32.713-35.007c0-5.518-1.276-10.737-3.548-15.384C153.156,88.339,157.757,78.936,157.757,68.453z"/>
      <g>
        <path fill="#53477F" d="M48.235,83.079c0,0-0.1,1.23-0.138,3.41c-0.033,2.175-0.045,5.282,0.197,8.986
          c0.096,1.853,0.294,3.851,0.543,5.951c0.291,2.095,0.585,4.302,1.07,6.542c0.428,2.254,1.092,4.52,1.768,6.802
          c0.771,2.247,1.579,4.523,2.678,6.638c0.488,1.091,1.131,2.087,1.707,3.114c0.639,0.982,1.263,1.972,1.96,2.886
          c0.726,0.891,1.396,1.817,2.206,2.591c0.392,0.398,0.763,0.814,1.16,1.193c0.417,0.357,0.832,0.712,1.243,1.063
          c0.785,0.748,1.714,1.279,2.548,1.892c0.411,0.318,0.874,0.545,1.317,0.791c0.44,0.249,0.877,0.494,1.307,0.736
          c0.871,0.465,1.784,0.793,2.629,1.182c0.854,0.373,1.748,0.575,2.566,0.859c0.815,0.301,1.652,0.43,2.431,0.598
          c0.787,0.141,1.509,0.371,2.229,0.416c1.431,0.131,2.658,0.356,3.7,0.356c0.519,0.012,0.982,0.022,1.386,0.031
          c0.402,0.015,0.74,0.239,1.021,0.55c0.14,0.142,0.265,0.355,0.373,0.496c0.108,0.198,0.201,0.334,0.276,0.504
          c0.151,0.296,0.232,0.551,0.232,0.533l0.012,0.943c0-0.018-0.075,0.232-0.227,0.52c-0.076,0.166-0.172,0.297-0.286,0.488
          c-0.115,0.135-0.249,0.342-0.402,0.475c-0.307,0.294-0.69,0.498-1.138,0.489c-0.447-0.015-0.96-0.032-1.535-0.052
          c-1.149-0.017-2.549-0.271-4.15-0.441c-0.804-0.065-1.644-0.325-2.536-0.496c-0.89-0.202-1.834-0.367-2.784-0.717
          c-0.951-0.333-1.971-0.588-2.969-1.028c-0.99-0.458-2.046-0.862-3.066-1.416c-2.039-1.112-4.099-2.475-5.977-4.171
          c-0.467-0.426-0.938-0.855-1.412-1.288c-0.45-0.454-0.869-0.944-1.308-1.421c-0.907-0.932-1.651-2.005-2.445-3.051
          c-0.415-0.512-0.723-1.094-1.085-1.643c-0.34-0.563-0.725-1.104-1.021-1.69c-0.592-1.174-1.245-2.324-1.727-3.544
          c-1.092-2.389-1.847-4.883-2.551-7.33c-0.616-2.468-1.11-4.916-1.412-7.297c-0.682-4.758-0.762-9.221-0.66-13.019
          c0.037-1.9,0.186-3.637,0.307-5.171c0.14-1.535,0.291-2.868,0.455-3.962c0.313-2.184,0.574-3.431,0.574-3.431L48.235,83.079z"/>
      </g>
      <g>
        <path fill="#53477F" d="M19.921,61.62c0,0,0.009,3.578,0.775,8.85c0.389,2.631,0.945,5.686,1.829,8.866
          c0.448,1.588,0.94,3.218,1.558,4.823c0.594,1.615,1.302,3.206,2.083,4.746c0.417,0.754,0.796,1.53,1.265,2.243l0.672,1.082
          l0.73,1.025c0.462,0.699,1.027,1.3,1.531,1.933c0.538,0.603,1.1,1.166,1.652,1.711c1.158,1.032,2.326,1.955,3.54,2.641
          c0.604,0.348,1.181,0.695,1.792,0.93c0.596,0.262,1.158,0.536,1.745,0.689c1.13,0.415,2.225,0.705,3.177,0.902
          c0.975,0.123,1.826,0.355,2.527,0.355c1.418,0,2.465,0,2.465,0v4.793c0,0-1.087-0.085-2.78-0.233
          c-0.844-0.132-1.929-0.318-3.087-0.577c-1.15-0.337-2.478-0.691-3.818-1.314c-0.688-0.257-1.367-0.645-2.06-1.025
          c-0.707-0.355-1.38-0.83-2.063-1.311c-1.373-0.951-2.658-2.156-3.879-3.462c-0.58-0.678-1.162-1.375-1.705-2.104
          c-0.506-0.756-1.071-1.485-1.512-2.293l-0.699-1.192l-0.625-1.233c-0.436-0.814-0.77-1.675-1.141-2.516
          c-0.685-1.705-1.277-3.435-1.744-5.161c-0.493-1.721-0.852-3.438-1.166-5.1c-0.617-3.327-0.906-6.46-1.064-9.14
          C19.615,65.181,19.921,61.62,19.921,61.62z"/>
      </g>
      <g>
        <path fill="#53477F" d="M119.489,96.819c0,0,0.146,1.128,0.282,3.105c0.074,0.989,0.126,2.193,0.156,3.576
          c0.016,1.382,0.042,2.946-0.03,4.65c-0.123,3.408-0.426,7.399-1.214,11.631c-0.362,2.12-0.874,4.295-1.489,6.485
          c-0.652,2.181-1.394,4.386-2.34,6.526c-0.889,2.162-2.039,4.23-3.277,6.207c-0.653,0.967-1.32,1.923-2.027,2.832
          c-0.759,0.87-1.431,1.8-2.26,2.573c-0.399,0.4-0.795,0.798-1.188,1.19c-0.393,0.394-0.839,0.725-1.251,1.083
          c-0.422,0.349-0.839,0.694-1.251,1.035c-0.443,0.302-0.881,0.599-1.313,0.893c-0.438,0.285-0.853,0.596-1.294,0.847
          c-0.447,0.241-0.889,0.479-1.321,0.713c-0.436,0.23-0.858,0.47-1.284,0.68c-0.438,0.182-0.868,0.361-1.289,0.537
          c-1.666,0.77-3.295,1.146-4.707,1.594c-1.442,0.281-2.702,0.568-3.744,0.711c-0.522,0.055-0.989,0.103-1.396,0.145
          c-0.403,0.078-0.761-0.026-1.054-0.235c-0.293-0.201-0.521-0.511-0.674-0.739c-0.153-0.24-0.234-0.442-0.233-0.431l-0.08-1.852
          c0.001,0.012,0.061-0.203,0.179-0.466c0.119-0.254,0.294-0.599,0.527-0.846c0.232-0.256,0.523-0.417,0.882-0.406
          c0.356-0.025,0.767-0.055,1.226-0.087c0.911-0.098,1.995-0.322,3.255-0.519c1.209-0.359,2.628-0.627,4.054-1.246
          c0.363-0.139,0.733-0.278,1.111-0.422c0.366-0.168,0.729-0.363,1.104-0.547c0.374-0.188,0.754-0.377,1.141-0.57
          c0.383-0.2,0.739-0.459,1.119-0.69c0.378-0.236,0.761-0.476,1.148-0.719c0.365-0.276,0.734-0.557,1.108-0.84
          c0.366-0.292,0.767-0.553,1.121-0.879s0.714-0.655,1.075-0.986c0.755-0.631,1.376-1.432,2.084-2.162
          c0.662-0.775,1.295-1.601,1.922-2.439c0.573-0.882,1.215-1.729,1.734-2.669l0.824-1.387l0.747-1.44
          c1.001-1.924,1.826-3.951,2.574-5.976c0.706-2.04,1.39-4.068,1.891-6.083c0.544-2.003,0.939-3.977,1.319-5.853
          c0.349-1.88,0.648-3.67,0.856-5.333c0.455-3.323,0.662-6.122,0.783-8.083c0.118-1.965,0.118-3.086,0.118-3.086L119.489,96.819z"
          />
      </g>
      <g>
        <path fill="#53477F" d="M37.359,47.483c0,0,0.347,2.381,0.424,5.994c0.034,1.807-0.005,3.92-0.214,6.184
          c-0.105,1.131-0.258,2.299-0.47,3.481c-0.219,1.181-0.478,2.38-0.841,3.559c-0.347,1.184-0.791,2.348-1.322,3.463
          c-0.543,1.109-1.163,2.179-1.913,3.127c-0.343,0.497-0.789,0.906-1.173,1.35c-0.43,0.4-0.858,0.794-1.303,1.144
          c-0.91,0.678-1.853,1.221-2.772,1.607c-0.466,0.171-0.909,0.366-1.345,0.491c-0.439,0.108-0.857,0.213-1.249,0.31
          c-0.789,0.15-1.487,0.217-2.06,0.279c-1.142,0.021-1.795,0.034-1.795,0.034l0.201-3.01c0,0,0.545,0.031,1.499,0.086
          c0.47-0.021,1.048-0.029,1.698-0.101c0.322-0.054,0.665-0.111,1.026-0.172c0.358-0.073,0.716-0.207,1.104-0.312
          c0.759-0.252,1.543-0.629,2.328-1.122c0.384-0.258,0.76-0.557,1.146-0.86c0.346-0.354,0.754-0.66,1.079-1.07
          c0.707-0.763,1.33-1.669,1.898-2.638c0.559-0.976,1.054-2.022,1.464-3.112c0.427-1.083,0.761-2.21,1.058-3.33
          c0.289-1.122,0.523-2.244,0.709-3.34c0.371-2.192,0.566-4.271,0.668-6.058c0.193-3.577,0.028-5.973,0.028-5.973L37.359,47.483z"
          />
      </g>
      <g>
        <path fill="#53477F" d="M83.858,37.529c0,0,0.147,2.898,0.405,7.972c0.136,2.536,0.233,5.616,0.375,9.149
          c0.146,3.533,0.286,7.519,0.395,11.867c0.117,4.349,0.245,9.06,0.379,14.042c0.108,4.983,0.223,10.238,0.341,15.674
          c0.236,10.871,0.488,22.468,0.74,34.064c0.439,23.192,0.877,46.386,1.207,63.78c0.271,17.396,0.451,28.992,0.451,28.992
          c0.03,1.933-1.457,3.524-3.39,3.554c-1.933,0.03-3.499-1.512-3.499-3.445c0-0.021,0-0.059,0-0.079
          c0,0,0.026-11.598,0.148-28.994c0.181-17.397,0.393-40.593,0.633-63.789c0.152-11.598,0.292-23.196,0.436-34.069
          c0.071-5.437,0.134-10.691,0.199-15.676c0.093-4.983,0.176-9.695,0.256-14.045c0.07-4.349,0.177-8.336,0.292-11.87
          c0.11-3.534,0.182-6.615,0.295-9.152C83.736,40.429,83.858,37.529,83.858,37.529z"/>
      </g>
      <g>
        <path fill="#53477F" d="M85.173,66.356c0,0,0.062,0.021,0.176,0.062c0.129,0.042,0.342,0.1,0.616,0.169
          c0.553,0.13,1.374,0.298,2.369,0.375c1.976,0.174,4.714-0.061,6.851-1.623c0.547-0.369,1.01-0.85,1.459-1.347
          c0.211-0.259,0.409-0.529,0.606-0.8c0.17-0.287,0.359-0.564,0.515-0.856c0.145-0.299,0.301-0.589,0.432-0.885
          c0.12-0.304,0.237-0.601,0.352-0.89c0.184-0.597,0.381-1.166,0.484-1.712c0.135-0.541,0.226-1.046,0.285-1.499
          c0.075-0.451,0.127-0.849,0.148-1.177c0.059-0.66,0.093-1.037,0.093-1.037l0.107-0.004c0,0,0.043,0.378,0.118,1.04
          c0.045,0.333,0.075,0.737,0.092,1.205c0.033,0.469,0.046,0.999,0.022,1.581c0.007,0.584-0.075,1.215-0.142,1.891
          c-0.06,0.337-0.12,0.683-0.182,1.036c-0.077,0.352-0.182,0.708-0.277,1.076c-0.108,0.365-0.256,0.727-0.389,1.102
          c-0.162,0.362-0.332,0.732-0.523,1.098c-0.412,0.712-0.878,1.438-1.476,2.061c-1.152,1.295-2.678,2.249-4.172,2.873
          c-1.504,0.626-2.984,0.939-4.252,1.1c-1.271,0.162-2.338,0.168-3.097,0.147c-0.383-0.015-0.684-0.033-0.902-0.055
          c-0.233-0.026-0.357-0.04-0.357-0.04L85.173,66.356z"/>
      </g>
      <g>
        <path fill="#53477F" d="M67.342,28.742c0,0-0.126,0.625-0.277,1.731c-0.15,1.104-0.326,2.688-0.395,4.59
          c-0.065,1.898-0.05,4.117,0.255,6.439c0.132,1.163,0.377,2.341,0.661,3.514c0.329,1.159,0.685,2.326,1.208,3.397
          c0.225,0.555,0.548,1.051,0.818,1.567c0.333,0.476,0.615,0.981,0.99,1.404l0.534,0.646c0.188,0.202,0.394,0.386,0.585,0.577
          c0.367,0.401,0.82,0.693,1.221,1.022c0.42,0.306,0.876,0.546,1.293,0.811c0.463,0.201,0.893,0.425,1.335,0.599
          c0.454,0.148,0.896,0.291,1.324,0.431c0.444,0.095,0.873,0.188,1.285,0.276c0.412,0.081,0.831,0.1,1.213,0.152
          c0.384,0.05,0.749,0.089,1.105,0.081c0.708-0.001,1.306,0.06,1.824,0c1.019-0.064,1.602-0.101,1.602-0.101l0.186,4.996
          c0,0-0.694-0.038-1.911-0.106c-0.602-0.009-1.353-0.158-2.196-0.266c-0.423-0.046-0.874-0.146-1.348-0.264
          c-0.474-0.121-0.972-0.211-1.483-0.376c-0.51-0.176-1.039-0.359-1.588-0.55c-0.537-0.229-1.084-0.5-1.643-0.763
          c-0.549-0.295-1.088-0.654-1.643-0.993c-0.517-0.407-1.063-0.798-1.559-1.26c-0.478-0.485-0.996-0.94-1.409-1.5
          c-0.214-0.271-0.44-0.536-0.644-0.817l-0.567-0.876c-0.39-0.577-0.666-1.22-0.985-1.834c-0.252-0.643-0.55-1.271-0.732-1.929
          c-0.447-1.296-0.686-2.627-0.889-3.922c-0.157-1.302-0.264-2.578-0.257-3.809c-0.028-2.461,0.229-4.723,0.524-6.636
          c0.607-3.83,1.433-6.268,1.433-6.268L67.342,28.742z"/>
      </g>
      <g>
        <path fill="#53477F" d="M135.519,80.848c0,0,0.401,2.502,0.521,6.32c0.056,1.907,0.036,4.144-0.163,6.545
          c-0.109,1.2-0.25,2.442-0.472,3.701c-0.206,1.261-0.501,2.535-0.86,3.803c-0.369,1.266-0.814,2.524-1.381,3.729
          c-0.547,1.212-1.23,2.362-1.999,3.424c-0.372,0.538-0.826,1.014-1.231,1.509c-0.464,0.445-0.9,0.908-1.379,1.303
          c-0.959,0.792-1.965,1.442-2.95,1.934c-0.5,0.224-0.978,0.465-1.447,0.64c-0.477,0.153-0.93,0.3-1.354,0.438
          c-0.857,0.233-1.622,0.357-2.25,0.477c-1.256,0.117-1.974,0.185-1.974,0.185l0.059-5c0,0,0.544,0.019,1.495,0.049
          c0.464-0.036,1.04-0.052,1.684-0.14c0.318-0.06,0.657-0.123,1.015-0.189c0.353-0.082,0.706-0.217,1.091-0.326
          c0.751-0.262,1.533-0.638,2.322-1.133c0.394-0.247,0.763-0.562,1.168-0.852c0.356-0.351,0.764-0.668,1.115-1.066
          c0.723-0.775,1.419-1.658,2.021-2.65c0.621-0.979,1.16-2.054,1.641-3.165c0.471-1.116,0.895-2.266,1.235-3.43
          c0.356-1.159,0.639-2.328,0.887-3.468c0.479-2.284,0.77-4.464,0.947-6.34C135.607,83.385,135.519,80.848,135.519,80.848z"/>

      </g>
    </g>
  </g>
</g>
<g id="ref" display="none">
</g>
</svg>
    </div>
  </div>
     <div class="second_row">
      <div class="plant">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="72px"
   height="56.001px" viewBox="0 0 72 56.001" enable-background="new 0 0 72 56.001" xml:space="preserve">
<g id="plant1">
  <g>
    <ellipse fill="#8372C1" cx="36" cy="46.735" rx="36" ry="9.266"/>
    <g>
      <path fill="#6ACCA5" d="M33.619,15.923c4.07,5.299,3.074,12.893-2.223,16.962c-5.297,4.068-12.891,3.073-16.959-2.224
        c-4.07-5.298-4.648-25.904-4.648-25.904S29.549,10.628,33.619,15.923z"/>
      <path fill="#6ACCA5" d="M63.966,31.854c-5.145,6.443-14.536,7.496-20.979,2.352c-6.44-5.143-7.493-14.537-2.353-20.977
        C45.778,6.786,70.296,0,70.296,0S69.109,25.412,63.966,31.854z"/>
      <g>
        <path fill="#53477F" d="M33.257,47.001l3.5-23.494l3.5,23.494c0.288,1.934-1.046,3.733-2.979,4.021s-3.733-1.046-4.021-2.979
          C33.205,47.694,33.209,47.333,33.257,47.001z"/>
      </g>
    </g>
  </g>
</g>
<g id="ref" display="none">
</g>
</svg>


      </div>
      <div class="plant">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="72px"
   height="47.326px" viewBox="0 0 72 47.326" enable-background="new 0 0 72 47.326" xml:space="preserve">
<g id="Layer_1">
  <g>
    <ellipse fill="#8372C1" cx="36" cy="38.061" rx="36" ry="9.266"/>
    <g>
      <path fill="#6ACCA5" d="M49.215,0.005C41.68-0.141,34.917,3.402,30.606,8.957c-2.983-1.932-6.517-3.085-10.324-3.158
        C9.314,5.587,0.249,14.458,0.036,25.426c-0.068,3.536,0.493,6.326,2.536,9.939c0,0-4.285,7.367,29.082,8.012
        c33.368,0.646,36.42-6.745,36.42-6.745c3.336-4.222,3.634-8.261,3.727-13.045C72.047,10.864,61.935,0.251,49.215,0.005z"/>
      <g>
        <g>
          <path fill="#53477F" d="M33.5,43.326l0.501-12.015l1.673,1.489h-0.001c-0.568,0.021-1.001-0.008-1.484-0.048
            c-0.47-0.044-0.935-0.104-1.395-0.194c-0.922-0.159-1.819-0.436-2.694-0.758l-1.275-0.586l-1.197-0.733
            c-0.373-0.283-0.729-0.588-1.088-0.88c-0.347-0.308-0.638-0.679-0.952-1.013c-0.332-0.321-0.536-0.747-0.798-1.118
            l-0.368-0.572l-0.276-0.62c-0.169-0.417-0.386-0.813-0.509-1.239l-0.337-1.283c-0.137-0.42-0.163-0.86-0.215-1.293
            l-0.145-1.293c-0.007-0.865,0.021-1.727,0.031-2.578c0.115,0.852,0.212,1.698,0.341,2.532l0.323,1.226
            c0.109,0.404,0.193,0.815,0.382,1.191l0.485,1.141c0.169,0.374,0.424,0.703,0.627,1.052l0.32,0.513l0.4,0.451
            c0.277,0.287,0.492,0.628,0.822,0.856c0.313,0.242,0.592,0.518,0.92,0.729l1.005,0.594l1.07,0.457l1.118,0.324
            c0.764,0.156,1.53,0.277,2.309,0.294c0.388,0.019,0.774,0.011,1.158-0.01c0.369-0.021,0.792-0.063,1.073-0.12h0.001
            l1.602-0.234l0.071,1.724L37.5,43.326c0.046,1.104-0.813,2.037-1.917,2.083s-2.037-0.812-2.083-1.916
            C33.498,43.438,33.498,43.38,33.5,43.326z"/>
        </g>
        <g>
          <path fill="#53477F" d="M48.943,24.084c0,0,0.086,0.307,0.158,0.865c0.05,0.28,0.052,0.618,0.081,1.016
            c-0.003,0.393,0.012,0.848-0.051,1.335c-0.031,0.495-0.125,1.025-0.256,1.588c-0.142,0.557-0.319,1.152-0.571,1.744
            c-0.141,0.293-0.284,0.59-0.429,0.892c-0.151,0.3-0.357,0.573-0.542,0.868c-0.348,0.612-0.865,1.1-1.345,1.636
            c-0.515,0.488-1.084,0.936-1.651,1.359c-0.603,0.345-1.202,0.723-1.807,0.996c-0.618,0.243-1.216,0.479-1.783,0.701
            c-0.574,0.159-1.13,0.267-1.646,0.338c-0.258,0.041-0.506,0.063-0.741,0.085c-0.234-0.008-0.455-0.019-0.663-0.039
            c-0.417-0.047-0.631-0.089-0.926-0.159C36.182,37.188,36,37.041,36,37.041v-2.742c0,0,0.146-0.18,0.64-0.359
            c0.247-0.099,0.472-0.176,0.811-0.264c0.17-0.041,0.315-0.072,0.505-0.104c0.182-0.05,0.354-0.105,0.557-0.146
            c0.4-0.091,0.832-0.145,1.305-0.186c0.451-0.097,0.923-0.199,1.415-0.306c0.485-0.126,0.938-0.344,1.446-0.504
            c0.464-0.222,0.944-0.454,1.401-0.729c0.416-0.321,0.897-0.594,1.269-0.979c0.192-0.186,0.41-0.352,0.584-0.554
            c0.174-0.206,0.345-0.41,0.514-0.611c0.333-0.409,0.626-0.845,0.883-1.273c0.241-0.438,0.482-0.859,0.656-1.274
            c0.204-0.406,0.318-0.804,0.467-1.152c0.111-0.354,0.221-0.669,0.287-0.932C48.896,24.399,48.943,24.084,48.943,24.084z"/>
        </g>
      </g>
    </g>
  </g>
</g>
<g id="ref" display="none">
</g>
</svg>
      </div>
    </div>
    </div>
    <!-- <div class="background"></div> -->
    <!-- <div class="dash_ground"></div> -->
    <!--  -->
  </div>
</div>

