<%= render 'shared/navbar' %>
<div class="home">
  <div class="banner row-fluid"  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0)), url(https://images.unsplash.com/photo-1521714161819-15534968fc5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60))">
    <div class="wrapper-main container">
      <div class="row-fluid">
        <div class="login">
          <h1>Mindseed</h1>
          <p>Learn anything you want</p>
          <button class="btn btn-primary">Sign up</button>
        </div>
      </div>
    </div>
  </div>
  <div class="section-one">
    <div class="wrapper-main container">
      <div class="card-trip">
        <div class="card-infos">
      <div class="title">
        <h2>Ask yourself, have you ever learned how to learn?</h2>
      </div>
      <div class="row-fluid space-between">
        <div class="photo">
          <img src="https://images.unsplash.com/photo-1559757148-5c350d0d3c56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
        </div>
        <div class="phrase">
          <h5>"All I know is that I know nothing."</h5>
          <p class="italic">Socrate</p>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-two">
    <div class="wrapper-main container">
      <div class="title">
        <h2>Are you interested in learning?</h2>
      </div>
      <div class="row-fluid space-between">
        <div class="flip-card hidden">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="flashcard-card"
                style="background-image : linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(https://images.unsplash.com/photo-1503676382389-4809596d5290?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); background-size: cover; background-position: center;;">
                <div class="card-trip-infos">
                  <div class="question">
                    <h2>Student</h2>
                    <p>Improve your grades</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-card-back"
              style="background-image : linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9)),  url(https://images.unsplash.com/photo-1503676382389-4809596d5290?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); background-size: cover; background-position: center;">
              <div class="title"
                style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),  url(); background-size: cover; background-position: center;">
                <h5>Prepare yourself all year round</h5>
              </div>
              <div class="content">
                <p>Upload your courses, do your flashcards, repeat</p>
              </div>
              <div class="end">
                <p>Pass your year with success.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flip-card hidden">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="flashcard-card"
                style="background-image : linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(https://images.unsplash.com/photo-1556302132-40bb13638500?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); background-size: cover; background-position: center;;">
              <div class="card-trip-infos">
                <div class="question">
                  <h2>Teacher</h2>
                  <p>Help your students getting better</p>
                </div>
              </div>
              </div>
            </div>
            <div class="flip-card-back"
              style="background-image : linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9)),  url(https://images.unsplash.com/photo-1556302132-40bb13638500?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); background-size: cover; background-position: center;">
              <div class="title"
                style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),  url(); background-size: cover; background-position: center;">
              <h5>Provide your students the best support</h5>
              </div>
              <div class="content">
                <p>Upload your courses, create your flashcards, share it to your students, repeat.</p>
              </div>
              <div class="end">
                <p>Improve your class success rate.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flip-card hidden">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="flashcard-card"
                style="background-image : linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(https://images.unsplash.com/photo-1503062910292-bb9fdd198f7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); background-size: cover; background-position: center;;">
              <div class="card-trip-infos">
                <div class="question">
                  <h2>Curious</h2>
                  <p>Naturally interested in learning</p>
                </div>
              </div>
              </div>
            </div>
            <div class="flip-card-back"
              style="background-image : linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9)),  url(https://images.unsplash.com/photo-1503062910292-bb9fdd198f7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); background-size: cover; background-position: center;">
              <div class="title"
                style="background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),  url(); background-size: cover; background-position: center;">
              <h5>Your curiosity has no limit</h5>
              </div>
              <div class="content">
                <p>Find a theme, upload and learn from others flashcard. <br>Willing to learn something specific? Create your own.</p>
              </div>
              <div class="end">
                <p>Become a learned man</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-three">
    <div class="wrapper-main container">
      <div class="title">
        <h2>Deck example</h2>
        <p class="italic">A deck is generally composed of 7 flashcards.</p>
      </div>
      <div class="sets-demo">
        <div class="set"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Ruby
        </div>
        <div class="set"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Javascript
        </div>
        <div class="set"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Geography
        </div>
        <div class="set"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          History
        </div>
        <div class="set"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          English
        </div>
      </div>
    </div>
  </div>
  <div class="section-four">
    <div class="wrapper-main container">
      <div class="title">
        <h2>Deck Demo</h2>
        <p class="italic">A deck is generally composed of 7 flashcards.</p>
      </div>
      <div class="demo">

      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
