.btn {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 0.725rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Alata', sans-serif;
  border-radius: 0.375rem;
  transition: all 0.2s ease;
  background-color: transparent;
}

.btn:hover {
  -webkit-transform: translateY(-0.22rem);
  -moz-transform: translateY(-0.22rem);
  -o-transform: translateY(-0.22rem);
  -ms-transform: translateY(-0.22rem);
  transform: translateY(-0.22rem);
  transition: all 0.2s ease;
  box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
}

.btn-purple{
  color: $white;
  background-color : $purple;
  border: 2px solid $lightpurple;
  transition: all 0.4s ease 0s;
}

.btn-purple:hover{
  color: $white;
  background: $lightpurple;
  border: 2px solid $purple;
  transition: all 0.4s ease 0s;
}


$purple: rgb(110, 89, 156);
$lightpurple: rgb( 123, 104, 165);


.btn-ghost-purple {
  color: $purple;
  border: 1px solid $purple;
  transition: all 0.4s ease 0s;
}

.btn-ghost-purple:hover {
  color: $white;
  background-color : $purple;
  transition: all 0.4s ease 0s;
}

.btn-ghost-white {
  color: $white;
  border: 1px solid $white;
}

.btn-ghost-green {
  color: $green;
  border: 1px solid $green;
}

