.card-theme {
  position: absolute;
  top: 15%;
  left: 10%;
  height: 70%;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  padding: 15px;
  width: 20%;
}
