.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-infos .card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-theme {
  position: absolute;
  top: 0px;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  padding: 0px 40px;
  width: 25%;
  z-index: 2;
}


.input-card {
  display: flex;
  margin: 24px 0px;

  #term {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
  }

  .hidden {
    display: none;
  }

  input {
    padding: 5px 5px;
    width: 100%;
    border: none;
    border-bottom: 1.2px solid rgb(228, 228, 228);
    margin: 0px 0px 0px 3px;
    font-family: "Raleway";
    color: rgb(65, 65, 65);
    font-weight: 500;
    transition: all 0.3;
  }

  input[type=text]:focus,
  input[type=text]:active {
    border-bottom: 2px solid rgb(0, 160, 0);
    outline: none;
  }

  form {
    width: 100%;
    display: flex;
  }
}


.input-card-left {
  padding: 7px;
  margin: 5px 5px 5px 0px;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  width: 20%;
  border-radius: 5px;

  img {
    height: 150px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;

  }
}


.input-card-right {
  padding: 10px;
  margin: 5px 0px;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  width: 80%;
  border-radius: 5px;
}
