.dash-garden {
  width: 75vw;
  left: 0;
  height: 90vh;
  background: rgb(240, 240, 240);
  position: relative;
  padding-top: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  &::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px pink;
    border-radius: 50px;
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $green;
    opacity: 0.2;
    border-radius: 50px;
  }
  .hidden {
    display: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

$max-in-row: 4;
$min-in-row: $max-in-row - 1;

@mixin block() {
  width: 90% / $max-in-row;

  @for $i from 1 through $max-in-row {
    &:nth-of-type(#{$max-in-row + $min-in-row}n + #{$i}) {
      // background-color: pink;
    }
  }

  @for $i from $max-in-row through ($max-in-row + $min-in-row) {
    &:nth-of-type(#{$max-in-row + $min-in-row}n + #{$i}) {
      // background-color: indigo;
    }
  }

  &:nth-of-type(#{$max-in-row + $min-in-row}n + 1) {
    margin-left: 50% / $max-in-row;
    // background-color: teal;
  }

  &:nth-of-type(#{$max-in-row + $min-in-row}n + #{$max-in-row}) {
    // background-color: cyan;
    // margin-left: 50% / $hex-max-in-row;
  }
}

.forest {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15vh;

  p, h2{
    color: $black;
  }
}

.forest .tree-forest {
  @include block();
  height: 160px;
  // !Reset test: need to use something of higher
  // specificity than just .paras p when @media querying:
  // not doing this causes all specified :nth-of-type
  // rules to be applied
  // &:nth-of-type(n) {
  // background-color: black;
  // }
}

.tree-forest {
  margin:2px;
  display:flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.5s ease 0.4s;
  transform-origin: center bottom;

  p, h2{
  position: absolute;
  opacity: 0;
  bottom:150px;
  transition: all 0.4s ease 0s;
  pointer-events: none;
  z-index:2;
  }

 h2{
  font-size: 1.4rem;
  padding: 3px;
  color: $white !important;
  background-color: $mediumgreen;
  transform: rotate(0deg);
 }

  p{
  padding: 1px 3px;
  background-color: $purple;
  color: $white !important;
  transform: rotate(0deg);
 }
  .tree {
    opacity: 1;
    transform: scale(1.2);
    transform-origin: center bottom;
  }


 .group-svg:hover {
  pointer-events: auto;
  cursor: pointer;
  }
}

  .tree-forest:hover h2{
    bottom: 220px!important;
    opacity: 1;
    transition: all 0.5s ease 0.4s;
    transform: rotate(-1deg);
  }

    .tree-forest:hover{
    transform:scale(1.2);
    transition: all 0.5s ease 0.4s;
    z-index: 5;

  }

  .tree-forest:hover p{
    bottom: 190px!important;
    opacity: 1;
    transition: all 0.5s ease 0.4s;
  }


.popout {
  width: 75%;
  background: $white;
  opacity: 0.95;
  height: 90vh;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 4 !important;
  transform: scale(1) !important;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .content {
    background-color: black;
    width: 50%;
    margin-right: 50px;
  }
}

.highlight {
  z-index: 5 !important;
  transform: scale(1.2) !important;
  position: absolute;
  left: 3vh;
  top: 10vh;

}
