.input-theme {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 2rem !important;
}

#btn-new-theme {
  height: 50px;
}

.theme-input {
  height: 50px;
}
