 .node circle {
   cursor: pointer;
   fill: $green;
   stroke: $green;
   stroke-width: px;
 }

 .node-rect {
   color: white;
   background-color: white;
   z-index: 0;
 }

 .node .rect {
   color: white
 }

 .node-rect-text-grp {
   background-color: red;
 }



 .node text {
   font-size: 18px;
   z-index: 1;
   font-family: "Alata";
   color: blue;
 }

 .nodeText2 {
   font-size: 10px;
   ;
   color: red;
 }

 path.link {
   fill: none;
   stroke: $purple;
   stroke-width: 2px;
 }

 .node.selected circle {
   fill: $green;
 }

 .node {
   cursor: pointer;
 }

 .overlay {}


 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 1.5px;
 }

 .templink {
   fill: none;
   stroke: red;
   stroke-width: 3px;
 }

 .ghostCircle.show {
   display: block;
 }

 .ghostCircle,
 .activeDrag .ghostCircle {
   display: none;
 }

 .node {
   cursor: pointer;
 }

 .node:hover {
   color: green;
 }

 .node--leaf {
   fill: white;
 }

 .label {
   font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
   text-anchor: middle;
   text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
 }

 .label,
 .node--root,
 .node--leaf {
   pointer-events: none;
 }

 #tree-container {
   //    margin-left: 100px;
   //    overflow: visible;
 }


 .dash_mindmap {
   width: 100vw;
   left: 0;
   height: 100vh;
   background: $white;
   position: absolute;
   z-index: 1;
   overflow: hidden;
 }

 .overlay {
   background-color: rgb(240, 240, 240) !important;
   padding: 50px;

 }

 .view-data {
   width: 75vw;
 }

 .view-data-tree {
   padding: 10% 20%;
 }

 .choice-data {
   position: absolute;
   top: 40px;
   right: 40px;
 }
