.navbar-lewagon {
  justify-content: space-between;
  background: transparent;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  .logo {
    color: white;
    font-weight: 600;
  }

  .logo-black {
    color: black;
    font-weight: 600;
  }
  .login-black {
    color: black;
  }
}
