.plant
  {

    pointer-events: auto;
    cursor:pointer;
  // position: relative;
  // width: 125px;
  // height: 200px;
  // margin: 1px;
  // font-size: 14px;
  // background-color: white;
  // z-index: 100;
  // margin-bottom: 17vh;


}

.popout{
  width: 75%;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  position:fixed;
  top: 0;
  right:0;
  z-index: 4 !important;
   transform: scale(1) !important;
   color: white;
   display:flex;
   justify-content: flex-end;
   align-items: center;

   .content {
    background-color: black;
    width:50%;
    margin-right: 50px;
   }



  &:hover{
   background: rgba(0, 0, 0, 0.7);
  }
}

.highlight{
  z-index:5 !important;
  transform: scale(2.4) !important;
  position: absolute;
  left : 3vh;
  bottom: 3vh;

}
