.section-one {
  padding: 4rem 0;
  background-color: $white;
}

.section-two {
  background-color: $white;
  padding: 4rem 0;
}

.section-three {
  background-color: $mediumgreen;
  padding: 4rem 0;
}
