.sticky-header {
  position: fixed;
  width: 100%;
  transition: top 0.3s;
  background: white;
  z-index: 2;
  border-bottom: 1px solid #eee;
  top: 0;
  width: 100%;
  left: 0;
}

#search-index {
  margin: 0 auto;
  margin-top: 10px;
  // max-width: 1600px;
  max-width: 1140px;
  margin-top: 10px;
}

.search_index {
  display: flex;
  position: relative;
}

.margin {
  margin-left: 5px;
  margin-right: 5px;
}

.field {
  width: 21%;
  margin-right: 10px;
}
